/node_modules
/public/storage
/public/hot
/storage/*.key
/storage
/storage/framework/views
/.idea
Homestead.json
Homestead.yaml
CPdescarga.xls
estados municipios.xlsx
estados.csv
municipios.csv
permisos.csv
.env
/public/filemanager
/public/imagenes

/nbproject/private/